{% extends 'base.html' %}

{% block title %}Lista de Produtos{% endblock %}

{% block content %}
    <h1>Lista de Produtos</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <a href="{{ url_for('criar_produto') }}" class="btn btn-primary">Adicionar Produto</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Código</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
                <tr>
                    <td>{{ produto[0] }}</td>
                    <td>{{ produto[1] }}</td>
                    <td>{{ produto[2] }}</td>
                    <td>{{ produto[3] }}</td>
                    <td>{{ produto[4] }}</td>
                    <td>
                        <a href="{{ url_for('editar_produto', id_produto=produto[0]) }}" class="btn btn-sm btn-warning">Editar</a>
                        <a href="{{ url_for('deletar_produto', id_produto=produto[0]) }}" class="btn btn-sm btn-danger">Deletar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
